@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var pageTitle = !string.IsNullOrEmpty(ViewBag.Title) 
        ? $"{ViewBag.Title} | Financial solutions for your business" 
        : "Onatrix - Financial solutions for your business";
  
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settingsPage = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage");
    var officeLocation = settingsPage?.Value<string>("officeLocation") ?? "Location not found";
    var siteLogotypeMedia = settingsPage?.Value<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>("siteLogotype");
    var siteLogotypeUrl = siteLogotypeMedia != null ? siteLogotypeMedia.Url() : "/"; 
    var partnerLogo1 = Model?.Value<IPublishedContent>("partnerLogo1")?.Url();
    var partnerLogo2 = Model?.Value<IPublishedContent>("partnerLogo2")?.Url();
    var partnerLogo3 = Model?.Value<IPublishedContent>("partnerLogo3")?.Url();
    var partnerLogo4 = Model?.Value<IPublishedContent>("partnerLogo4")?.Url();
    var partnerLogo5 = Model?.Value<IPublishedContent>("partnerLogo5")?.Url();
    var partnerLogo6 = Model?.Value<IPublishedContent>("partnerLogo6")?.Url();
    var storyImage = Model?.Value<IPublishedContent>("storyImage")?.Url();
      
}

<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/a576612222.css"
      crossorigin="anonymous"/>
    <title>@pageTitle</title>  
  </head>
<body>
    <div class="wrapper">
      <header>
        <section class="topnav bg-primary">
          <div class="container">
            <div class="addressinfo">
              @officeLocation
            </div>
            <div class="social-icons">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a> 
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </section>
        
        <section class="navbar">
          <div class="container">
            <a class="onatrix-logo" href="/">
              <img src="@siteLogotypeUrl" alt="Onatrix Logotyp" /> 
            </a>
            <nav class="list">
                <a href="/about-us/" class="nav-link">About</a>
                <a href="/services/" class="nav-link">Services</a>
                <a href="/our-projects/" class="nav-link">Projects</a>
                <a href="/contact-us/" class="nav-link">Contact</a>
            </nav>

            <div class="search">
              <i class="fa fa-solid fa-magnifying-glass"></i>
            </div>
          </div>
        </section>
      </header>

      <main>
        @RenderBody()
      </main>
    
@if (Model.ContentType.Alias != "aboutUs" 
    && Model.ContentType.Alias != "serviceListPage" 
    && Model.ContentType.Alias != "riskManagement" 
    && Model.ContentType.Alias != "ourProjects"
    && Model.ContentType.Alias != "juvaDetail")
{
    <section id="partners-section">
        <div class="container">
            <div class="partners-content bg-light">
                @if (!string.IsNullOrEmpty(partnerLogo1))
                {
                    <div class="partner-logo">
                        <img src="@partnerLogo1" alt="Partner 1 Logo">
                    </div>
                }
                @if (!string.IsNullOrEmpty(partnerLogo2))
                {
                    <div class="partner-logo">
                        <img src="@partnerLogo2" alt="Partner 2 Logo">
                    </div>
                }
                @if (!string.IsNullOrEmpty(partnerLogo3))
                {
                    <div class="partner-logo">
                        <img src="@partnerLogo3" alt="Partner 3 Logo">
                    </div>
                }
                @if (!string.IsNullOrEmpty(partnerLogo4))
                {
                    <div class="partner-logo">
                        <img src="@partnerLogo4" alt="Partner 4 Logo">
                    </div>
                }
                @if (!string.IsNullOrEmpty(partnerLogo5))
                {
                    <div class="partner-logo">
                        <img src="@partnerLogo5" alt="Partner 5 Logo">
                    </div>
                }
                @if (!string.IsNullOrEmpty(partnerLogo6))
                {
                    <div class="partner-logo">
                        <img src="@partnerLogo6" alt="Partner 6 Logo">
                    </div>
                }
            </div>
        </div>
    </section>
}
      
      <footer class="bg-dark">
        <div class="container">
            <p>Onatrix. All Rights Reserved. Credits to
                <span class="secondary">Themesflat</span>.
            </p>
        </div>
      </footer>
    </div> 

    <script src="/scripts/main.js"></script>  
</body>
</html>

